.limerence-docs .one-button lime-button {
    margin: 5px 50px;
}



.limerence-docs .buttons-progress-example .widgets {
    display: flex;
    flex-direction: row;
}

.limerence-docs .buttons-progress-example lime-button {
    margin: 0 20px;
}



.limerence-docs .questionnaire .widgets {
    display: flex;
    flex-direction: column;
}

.limerence-docs .questionnaire lime-checkbox:first-child {
    margin-top: 10px;
}

.limerence-docs .questionnaire lime-checkbox {
    margin-bottom: 5px;
}



.limerence-docs .radio-group-example lime-radio {
    margin-right: 5px;
}



.limerence-docs .input-example .widgets {
    display: flex;
    flex-direction: column;
}

.limerence-docs .input-example lime-input {
    margin: 5px 10px;
}