@import '../core/colors.less';
@import '../core/font.less';

:host {
    @fastTime: .08s;
    @defaultTime: .3s;

    @radius: 40px;
    @defaultHeight: 38px;

    user-select: none;
    cursor: pointer;

    display: block;
    position: relative;

    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;

    lime-button-frame {
        display: flex;
        align-items: center;
        justify-content: center;

        margin: 0 auto;

        height: @defaultHeight;
        border-radius: @radius;
        box-sizing: border-box;

        font-family: @font;
        font-size: 14px;
        line-height: 14px;
        font-weight: 600;

        text-transform: uppercase;
        letter-spacing: 0;

        color: @lime;
        border: 1px solid @lime;
        background-color: transparent;

        width: 100%;
        overflow: hidden;
        transition: width @defaultTime ease-in-out, color @fastTime ease-in-out;
    }

    lime-button-content {
        opacity: 1;
        transition: opacity @defaultTime ease-in-out;
    }

    lime-progress-circular {
        opacity: 0;
    }

    &:focus {
        outline: none;

        lime-button-frame {
            outline: none;
        }
    }

    &:hover {
        lime-button-frame {
            background: @limeLight;
            border-color: @limeLight;
            color: #ffffff;
        }
    }

    &[active] {
        lime-button-frame {
            background-color: @limeDark;
            border-color: @limeDark;
        }
    }

    &[primary] {
        lime-button-frame {
            background-color: @lime;
            color: #fff;
        }

        &:hover {
            lime-button-frame {
                background-color: @limeLight;
                border-color: @limeLight;
            }
        }

        &[active] {
            lime-button-frame {
                background-color: @limeDark;
                border-color: @limeDark;
            }
        }
    }

    &.lime-progress-state {
        pointer-events: none;

        lime-button-frame {
            width: @defaultHeight; // To match width & height
            background-color: transparent;

            border-color: @greyLight;
            border-width: 4px;
        }

        lime-button-content {
            opacity: 0;
        }

        lime-progress-circular {
            opacity: 1;
        }

        &:hover {
            lime-button-frame {
                background-color: transparent;
                border-color: @greyLight;
            }
        }
    }
}